body {
    background-color: #121212;
    font-family: Arial;
    margin: 40px;
    color: #e6e6e6;
}

h1 {
    color: #f5c542;
    text-align: center;
    font-size: 36px;
    text-shadow: 0 0 8px rgba(245, 197, 66, 0.3)
}

#p_accroche{
    color: #b5b5b5;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.depot{
    margin-top: 50px;
    text-align: center;
}

input[type="file"] {
    margin-top: 10px;
    cursor: pointer;
}

input[type="file"]:hover {
    color: #f5c542;
}

button {
    background-color: #1f1f1f;
    color: #f5c542;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2a2a2a;
}